<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayush.smartpark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to get current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main">

        <activity android:name=".ui.spot.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.spot.SpotDetailActivity"
            android:label=""
            android:parentActivityName=".ui.spot.ListActivity"/>
        <activity android:name=".ui.RegisterParking"
            android:label="Add your Parking"
            android:parentActivityName=".ui.spot.ListActivity"/>

        <activity android:name=".ui.SpotsMapView"
            android:label="Parking Spots Nearby"
            android:parentActivityName=".ui.spot.ListActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="XXXXXXXXXXX"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
